<%- include("layouts/header")       %>

<div class="container">

    <h1>cauntry</h1>
    <form action="/countries" method="post">
    <input type="text" name="country" id="">
        <button type="submit"> yolla </button>
    </form>
    

</div>

<%- include("layouts/footer")    %>